# Thư mục thư viện (Nặng nhất, tuyệt đối không push)
node_modules/

# Các file môi trường chứa mật khẩu, mã bí mật
.env

# Các file log khi chạy bị lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục build (nếu có)
dist/
build/

# File hệ thống
.DS_Store
Thumbs.db